## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [2]:
import pandas as pd
import numpy as np

In [4]:
data = {'國家': ['Taiwan', 'USA', 'England', 'France'],
        '人口': np.random.randint(1000000000000, size=4)}
data = pd.DataFrame(data)

In [5]:
data

             人口       國家
0  694010834589   Taiwan
1  589771732673      USA
2  766874483491  England
3  548219172779   France